/**
 * Main App Styles
 */

/*
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "~bootstrap/scss/bootstrap";

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #3B454E;
	-webkit-font-smoothing: antialiased; /* Font rendering in Chrome on Mac */
	-moz-osx-font-smoothing: grayscale; /* Font rendering in Firefox on Mac */
}

a, 
a:link, 
a:active { 
	color: #3B454E;
	text-decoration: none !important; 

}
a:hover{
	text-decoration: underline;
}


ol, ul {
padding-left: 1.25rem;
list-style-type: none;
padding: 0;
margin: 0;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––
TEXT AND TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––*/
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
	text-transform: none;
	color: #3B454E;
	/*hyphen on small screens*/
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
h1 {
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: .5rem;
	text-transform: initial;
}
h2 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: .25rem;
	
}
h3 {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: .25rem;
text-transform: uppercase;	
}
h4 {
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: .25rem;
}
h5 {
	font-size: 1rem;
	margin-bottom: .25rem;
	text-transform: uppercase;	
}
h6 {
	font-size: .875rem;
	margin-bottom: .25rem;
}
h3 + h4 {
	margin-top:.75em;
}
p {
	font-weight: 400;
	line-height: 1.5;
}
p.ingress {
font-size:	1.125rem;
	line-height: 1.3;
	font-family: proxima-nova,sans-serif;
	font-weight: 500;
}
img + p, img + h2, img + h3, img + h4, video + p {
	margin-top: 1.5rem;
}
p + h2, p + h3, p + h4 {
	margin-top: 1.5em;
}
p.ingress {
font-size:	1.125rem;
	line-height: 1.3;
	font-family: proxima-nova,sans-serif;
	font-weight: 500;
}

/* Breakpoints Text and typography
––––––––––––––––––––––––––––––––– */

@media (min-width: 576px) {
h1,h2,h3,h4,h5,h6 {
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual; /*hyphen only at &hyphen; or &shy; (if needed)*/
}
}
@media (min-width: 992px) { 
h1 { 
	font-size:2rem;
}
h2 {
	font-size:1.5rem;
}
h3 {
	font-size:1.25rem;
}
h4 {
	font-size:1.125rem;
}
p.ingress { 
	font-size: 1.25rem;
}
}

@media (min-width: 1200px) { 
h1 { 
	font-size:2.5rem;
}
}

.bg-dark {
	background: #3B454E !important;
}

.main-image {
	background-image: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7) ), url(../images/olga-tutunaru-plbb7pkEjkQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	position: relative;
	height: 50vh;
}

.header {
	background-image: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7) ), url(../images/olga-tutunaru-plbb7pkEjkQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	position: relative;
	height: 50vh;
}

.card {
	border-radius: 0;
}
.card-title {
	font-size: 1rem; 
}
.card-title a{
	font-size: 1rem; 
	color: #3B454E;
}
.card-title a:hover{
	opacity: 0.7;
}
.card-title h3 {
	font-size: 1rem;
}
.strong {
	font-weight: 500;
}
::selection {
	background-color: #273583;
	color: #ffffff;
}

.card-image img{
	width: 100%
}

.card-body.books {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

col {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.heart {
	color: red;
}

.heart-border {

	border: 1px solid red;
	padding: 0.5rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;

}



a.theme-btn, button.theme-btn {
    color: #3B454E;
    border: 2px solid #3B454E;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    font-weight: 500;
}
a.theme-btn.book-card{
    color: #3B454E;
    border: 2px solid #3B454E;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    font-weight: 500;
}


a.theme-btn:hover, button.theme-btn:hover{
    opacity: 0.6;
}

a.theme-btn:active, button.theme-btn:active{
    background-color: transparent;
}
span.heart-border {
	border: 2px solid red;
	border-radius: 50%;
	padding: 0.5rem;
	max-height: 2.5rem;

}
a.btn-red.heart, button.btn-red.heart, a.btn-red.heart:hover, button.btn-red.heart:hover{
	border: 0;
	padding: 0.1875rem 0.375rem 0.375rem 0.375rem;
}
.alert {
	border-radius: 0;
	margin-bottom: 0;
}

	:focus {
		outline: 0 !important;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	  }

a.btn-red, button.btn-red {
	color: red;
	border: 2px solid red;
	font-size: 0.75rem;
    padding: 0.5rem 1rem;
}
a.btn-red:hover,
button.btn-red:hover {
    color: red;
    border: 2px solid red;
}
a.btn-green, button.btn-green {
	color: green;
	border: 2px solid green;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
	max-height: 2.5rem;
}
a.btn-green:hover,
button.btn-green:hover {
    color: green;
	border: 2px solid green;
	
}


.input-group-lg > .form-control, .form-control {
	border-radius: 0;
	border: 2px solid #3B454E;
}

.input-group-lg > .input-group-append > .btn {
	border-radius: 0;
	color: #3B454E;
    border: 2px solid #3B454E;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    font-weight: 500;
}
.dropdown-item.active, .dropdown-item:focus, .dropdown-item:active {
	background: #3B454E;
}

.dropdown-menu {
	border-radius: 0;
}
@media screen and (min-width: 1200px) {

    a.theme-btn {
        font-size: 1rem;
        padding: 0.625rem 2.25rem;
	}
	
	.search-box {
		width: 60%;
	}

}

@media (min-width: 1700px) {

    a.theme-btn {
        font-size: 1.125rem;
        padding: 0.875rem 2.5rem;
    }
}

@media (max-width: 375px) {

    a.theme-btn {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }
}
.border-bottom {
	border-bottom: 2px solid #dee2e6 !important;

}

/*	______	Spacing	utilites	X	_______	*/
.padding-x-row	{	
	padding-left: 15px;	
	padding-right: 15px;
	}
	
	@media	(min-width: 768px)	{	
	.padding-x-row{	
	padding-left: 2rem;	
	padding-right: 2rem;
	}
	}
	@media	(min-width: 1200px)	{	
	.padding-x-row	{
	padding-left: 8vw;	
	padding-right: 8vw;

	}	
	}
	/*	_______	Spacing	utilites	y	________	*/
	.padding-y-row	{	
	padding-top: 2rem;	
	padding-bottom: 2rem;
	transition: .5s;
	}
	
	@media	(min-width: 960px)	{	
	.padding-y-row{	
	padding-top: 2.5rem;	
	padding-bottom: 2.5rem;	
	}
	}
	@media	(min-width: 1200px)	{	
	.padding-y-row{	
	padding-top: 5rem;	
	padding-bottom: 5rem;	
	}
	}